<%= link_to('Назад к списку писем', letters_path, :class => 'btn btn-primary btn-lg')  %>
<% if @answer %><%= link_to('Сформировать ответ', new_letter_path(@letter), :class => 'btn btn-danger btn-lg')  %><% end %>

<div class="modal-header">
  <h1><% if @typeLetters.first.direction == 1 %>Редактируем вх. письмо<% unless @parent.nil? %>. На него есть сформированный <%= link_to('ответ', edit_letter_url(@parent)) %><% end %><% elsif @letter.letter_id.nil? %>Редактируем  исх. письмо<% else %>Редактируем ответ на <%= link_to('письмо', edit_letter_url(@letter.letter_id)) %><% end %></h1>
</div>

<table class="table">
  <tr>
    <th class="title"><%= render 'form' %></th>
    <th class="title"><%= render 'form_attacheds' %></th>
    <th class="title">
      <% unless @attacheds.first.nil? %>
        <% unless @letter.state == 88 %>
          <a class="btn btn-success btn-block btn-lg" data-confirm="Действительно отправить пиьмо?" data-method="get" href="<%= letter_url %>">Отправить адресату</a>
        <% else %>
          <h3>Письмо отправлено</h3>
        <% end %>
      <% end %>
    </th>
  </tr>
</table>


