<%= link_to('Оформить вх. письмо', new_letter_path, :class => 'btn btn-primary btn-lg')  %>
<%= link_to('Оформить исх. письмо', new_out_letter_path, :class => 'btn btn-primary btn-lg')  %>

<table class="table">
  <thead>
  <tr>
    <th class="title"></th>
    <th class="title">Тип письма</th>
    <th class="title">Номер</th>
    <th class="title">Дата письма</th>
    <th class="title">Email</th>
    <th class="title">Краткое содержание</th>
    <th class="title"></th>
  </tr>
  </thead>
  <tbody>
  <% @letters.each do |f| %>
      <tr>
        <td><% if f.type_letter.direction == 1 %><img alt="in" src="/assets/in.png" /><% else %><img alt="out" src="/assets/out.png" /><% end %></td>
        <td><%= f.type_letter.name %></td>
        <td><% if f.letter.nil? %><%= link_to( f.number1+" / "+f.number2, edit_letter_url(f)) %><% else %><%= f.letter.number1 %> / <%= f.letter.number2 %><% end%></td>
        <td><%= f.date_letter %></td>
        <td class="data"><% if f.letter.nil? %><% unless f.cb_mail.nil? %><%= link_to( f.cb_mail.email, edit_letter_url(f)) %><% end %><% else %><% unless f.letter.cb_mail.nil? %><%= f.letter.cb_mail.email %><% end %><% end %></td>
        <td class="data"><%= link_to( f.summary, edit_letter_url(f))  %></td>
        <td class="data">
          <%= link_to image_tag('/assets/del.jpg', width: 16, alt: :out), letter_url(f), method: :delete, rel: :nofollow, data: { confirm: 'Вы действительно хотите удалить письмо?' } %>
        </td>
      </tr>
  <% end %>

  </tbody>
</table>