
<%= form_for @cbMail do |f| %>
  <div class="modal-body">
    <table class="table table-striped">
      <tr class="success">
        <td class="title">Ящик</td>
        <td class="data">
          <%= f.email_field :email %>
        </td>
      </tr>
      <tr class="success">
        <td class="title">Путь</td>
        <td class="data">
          <%= f.text_field :path_to_out %>
        </td>
      </tr>
      <tr class="success">
        <td class="title">Примечание</td>
        <td class="data">
          <%= f.text_field :description %>
        </td>
      </tr>
    </table>
    <div class="modal-footer">
      <%= f.submit 'Сохранить', :class => 'btn btn-primary btn-block btn-lg' %>
    </div>
  </div>
<%end%>

