<!DOCTYPE html>
<html>
<head>
  <title>ManagementLetter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <%= render 'layouts/menu' %>
        <% flash.each do |key, value| %>
          <h3 class="text-left <% if key == 'error' %>text-danger
                              <% elsif key == 'success' %>text-success
                              <% elsif key == 'ok' %>text-primary<% end %>"><%= value %></h3>
        <% end %>

        <!--
        <div class="error">
          < % if @article.errors.any? %>
            <div id="error_explanation">
              <h2>
                < %= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:
              </h2>
              <ul>
                < % @article.errors.full_messages.each do |msg| %>
                  <li>< %= msg %></li>
                < % end %>
              </ul>
            </div>
          < % end %>
        </div>
        -->

      </div>

      <div class="col-md-12">
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
